.nv{
    background-color: rgb(205, 205, 205);
}
.inp{
    padding-left: 390px;
    margin-top: 10px;
}
.int{
  height: 40px;
  width: 92%;
}
.btnn{
   margin-left: 260px;

}
.bttn{
    padding-right: 15px;
}
.can{
    margin-right: 185px;
}